.rating>input {
  display: none;
}

.rating>input {
  position: absolute;
  clip: rect(0 0 0 0);
}

.rating>input {
  position: absolute;
  opacity: 0;
}

.rating {
  font-size: 0;
  display: table;
}

.rating>label {
  color: #ddd;
  float: right;
}

.rating>label:before {
  padding: 5px;
  font-size: 50px;
  line-height: 1em;
  display: inline-block;
  content: "★";
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
  color: #FFD700;
}

.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
  opacity: 0.5;
}

.sss {
  display: flex;
  justify-content: space-around;
  align-items: center;
}