.Login_note_line {
  margin-left: 10%;
  width: 1%;
  background-color: #fff;
  height: 100vh;
  position: absolute;
}

.Login_logo {
  width: 100%;
  text-align: center;
  margin-left: 5%;
  margin-top: 18%;
}

.Login_Title {
  color: #Fff;
  font-size: 2rem;
  margin-top: 40%;
  text-align: center;
  margin-left: 8%;
  text-decoration: underline;
  letter-spacing: 0.25em;
  font-weight: bold;
}

.Login_sec_Title {
  color: #Fff;
  font-size: 2rem;
  text-align: center;
  margin-left: 8%;
  letter-spacing: 0.25em;
}

.Login_right_Title {
  text-align: center;
  font-size: 2.2rem;
  letter-spacing: 0.2em;
  margin-top: 10%;
  font-weight: bold;

}

.SignIn_title {
  font-size: 2rem;
}

.SignIn_hr {
  width: 65px;
  height: 10px;
  background-color: #170600;
  border-radius: 10px;
  border: 0
}

.LoginBtn {
  margin-top: 4%;
  width: 100%;
  height: 40px;
  font-size: 18px;
}