.notification_management {
  margin-left: 20px;
}

.message_page {
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.message_page_header {
  padding: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}

.message_page_body {
  height: 720px;
  padding: 20px;
}

.message_info {
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  margin-top: 20px;

  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.notification_title {
  margin-top: 30px;

  font-size: 24px;
}

.add_notification {
  padding: 20px;
}

.add_message_file {
  margin-left: 20px;
  border-radius: 15px;

}

.notification_background {
  height: 400px;
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
}

.add_notification_OK {
  margin-top: 20px;
  float: right;
  padding: 20px 40px 20px 40px;
  border-radius: 10px;
}