.Video_Management {
  margin-left: 20px;
}

.textboox_video {
  margin-top: 30px;
  height: 220px;
  box-shadow: rgb(141, 141, 141) 3px 3px 3px 3px;
  border-radius: 10px;
  width: 240px;
  display: inline-block;
  margin-right: 20px;
  transition: 0.5s ease;
  background-color: white;
  float: left;
}

.selectVideo {
  margin-top: 10px;
  width: 320px;
}

.CreatVideoBtn {
  float: right;
  padding: 20px 30px 20px 30px;

}